/* This section resets all elements; in this case all boxes will
 * now be set to be the size specified, regardless of border or
 * padding being provided.  It makes layout of comparable boxes
 * with different types of formatting easier. */
* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

body {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 62.5%;
}


nav li {
	list-style: none;
	display: inline-block;
	background: navy;
	border-radius: 3px;
}
nav li a {
	text-decoration: none;
	color: #FFF;
	padding: 2em;
	font-size: 200%;
}
