/* This section resets all elements; in this case all boxes will
 * now be set to be the size specified, regardless of border or
 * padding being provided.  It makes layout of comparable boxes
 * with different types of formatting easier. */
 * {
 	-webkit-box-sizing: border-box;
 	-moz-box-sizing: border-box;
 	box-sizing: border-box;
 	margin: 0;
 	padding: 0;
 }

 .untouchable {
 	-moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
    user-select: none;
 }

 body {
 	font-family: "Lato", sans-serif;
 	font-size: 62.5%;
 	background: #F1F1F1;
 }

 header {
 	padding: 3em;
 	text-align: center;
 	height: 5em;
 	width: 100%;
 	display: inline-block;
 	background: #222;
 	color: #FFF;
 	line-height: 0em;
 	-moz-box-shadow:    rgba(0,0,0,0.3) 0px 2px 2px -1px;
    -webkit-box-shadow: rgba(0,0,0,0.3) 0px 2px 2px -1px;
 	box-shadow:         rgba(0,0,0,0.3) 0px 2px 2px -1px;
 }

 header h1 {
 	margin-top: 0em;
 }
 .emphasis {
 	color: #6BBBFF;
 }

 input[type="search"] {
 	margin-top: -1em;
 	float: right;
 	border: none;
 	display: inline-block;
 	background: rgba(255,255,255, .1);
 	outline: none;
 	height: 2em;
 	padding-left: 1em;
 	color: #FFF;
 }

 nav {
 	width: 100%;
 	height: 3em;
 	background: #6BBBFF;
 	text-align: center;
 }
 nav li {
 	list-style: none;
 	display: inline-block;
 }
 nav li a {
 	text-decoration: none;
 	color: #FFF;
 	padding: 1em;
 	font-size: 200%;
 }
 nav li.active {
 	/*text-decoration: overline;*/
 }
 nav li:hover a {
 	color: #242424;
 }

 main {
 	display: inline-block;
 	padding: 3em;
 	width: 100%;
 	top: 8em;
 	bottom: 0;
 	position: static;
 }

ol {
	list-style: none;
}

 .content {
 	background: #FFF;
 	width: 100%;
 	height: 100%;
 	display: inline-block;
 }

 .content > :first-child {
 	width: 20%;
 }
 .content > :nth-child(2) {
 	width: 30%;
 }
 .content > :nth-child(3) {
 	width: 50%;
 }

 .block {
 	position: relative;
 	padding: 1em;
    float: left;
 	-moz-box-shadow:    0 0 0.1em 0.1em rgba(255,255,255, 0.5);
    -webkit-box-shadow: 0 0 0.1em 0.1em rgba(255,255,255, 0.5);
 	box-shadow:         0 0 0.1em 0.1em rgba(255,255,255, 0.5);
 	height: 100%;
 }
 .block.list {
 	float: left;
 	width: 100%;
 }
 .block.list small {
 	color: #FFF;
 	background: #6BBBFF;
 	padding: 0.25em 0.5em;
 	font-size: 70%;
 	-moz-border-radius: 3px;
    -webkit-border-radius: 3px;
 	border-radius: 3px;
 }
  .block.list button {
 	color: #FFF;
 	background: #222;
 	padding: 0.25em 0.5em;
 	font-size: 100%;
 	border: none;
 	-moz-border-radius: 3px;
    -webkit-border-radius: 3px;
 	border-radius: 3px;
 }
 .block.list button:hover {
 	background: #CC0000;
 	cursor: pointer;
 }


 .block.article {
 	float: none;
 	width: 700px;
 	margin: 0 auto;
 }

 .block.article .small-thumb{
    height: 300px;
 }

 .block.article small {
 	color: #FFF;
 	background: #6BBBFF;
 	padding: 0.25em 0.5em;
 	font-size: 130%;
 }
 .block.article p {
    font-size: 150%;
 }

 .block h2 {
 	width: 100%;
 	background: #242424;
 	color: #FFF;
 	text-transform: uppercase;
 	padding: 0.4em 0.8em;
 	transition: background 2s;
 }

 .block:hover h2 {
 	background: #6BBBFF;
 	transition: background 2s;
 }

 .block ol a {
 	font-size: 200%;
 	text-decoration: none;
 	color: #242424;
 }
 .block ol a:hover {
 	color: #2B5A92;
 }


 .block ol li {
 	padding: 1em;
 	-moz-box-shadow:    rgba(0,0,0,0.5) 0px 0px 5px -1px;
    -webkit-box-shadow: rgba(0,0,0,0.5) 0px 0px 5px -1px;
 	box-shadow:         rgba(0,0,0,0.5) 0px 0px 5px -1px;
 	margin: 0.5em auto;
 }
 .block ol li:hover {
 	cursor: pointer;
 	-moz-box-shadow:    rgba(0,0,0,1) 0px 0px 5px -1px;
    -webkit-box-shadow: rgba(0,0,0,1) 0px 0px 5px -1px;
 	box-shadow:         rgba(0,0,0,1) 0px 0px 5px -1px;
 }

 .block ol small {
 	font-size: 80%;
 }

 .block.comment article {
 	border-left: 1em solid #6BBBFF;
 	margin-bottom: 0.5em;
 	padding: 1em;
    font-size: 130%;
 }
 .block.comment article a, .block.comment article time {
 	font-weight: bold;
 }
 .block.comment article p {
 	margin-top: 1em;
    font-size: 100%;
 }

 .block .small-thumb{
 	width: 100%;
 	height: 100px;
 	background-position: center;
 	background-size: cover;
 	display: inline-block;
 }

 .list .square-thumb{
 	width: 50px;
 	height: 50px;
 	background-position: center;
 	background-size: cover;
 	float: left;
 	margin-right: 0.5em;
 }

.form-content.login {
	background: #6BBBFF;
	display: inline-block;
 	width: 100%;
}
.form-content.register {
	background: #FFF;
	display: inline-block;
 	width: 100%;
}
.pull-right {
	float: right;
}
.left, .right {
 	float: left;
 	width: 50%;
 	height: 100%;
 }

 .login .right {
 	 background: #FFF;
 }
 .register .right {
 	 background: #6BBBFF;
 }

 .left p, .right input {
 	height: 20px;
 	font-size: 20px;
 	line-height: 0px;
 	display: block;
 	outline: none;
 	margin: 1em 0;
 	padding: 1em;
 	background: none;
 	width: 15em;
 }
  .right input[type="submit"]:hover {
 	cursor: pointer;
 	-moz-box-shadow:    0 0 0.1em 0.1em rgba(255,255,255, 0.5);
    -webkit-box-shadow: 0 0 0.1em 0.1em rgba(255,255,255, 0.5);
 	box-shadow:         0 0 0.1em 0.1em rgba(255,255,255, 0.5);
 }

 .login .right input {
 	border: 1px solid #6BBBFF;
 	border-left: none;
 	color: #6BBBFF;
 }
 .login .right input[type="submit"] {
 	width: 30em;
 	margin-left: -15em;
 	background: #FFF;
 }

 .login .left p {
 	border: 1px solid #FFF;
 	border-right: none;
 	text-align: right;
 	color: #FFF;
 }

 .register .right input {
 	border: 1px solid #FFF;
 	border-left: none;
 	color: #FFF;
 }
 .register .right input[type="submit"] {
 	width: 30em;
 	margin-left: -15em;
 	background: #FFF;
 	border: 1px solid #6BBBFF;
 	color: #6BBBFF;
 }

 .register .left p {
 	border: 1px solid #6BBBFF;
 	border-right: none;
 	text-align: right;
 	color: #6BBBFF;
 }
